alias be='bundle exec'
alias s='bundle exec rails s'
alias c='bundle exec rails c'
alias t='bundle exec rspec'
alias dbconsole='bundle exec rails dbconsole'
alias pgsql_start='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgsql_stop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'
alias vim='nvim'
alias irb++='irb -r active_support/all'

# improving cli
alias cat='bat'
alias ping='prettyping --nolegend'

# Containers
alias redis_container='docker run -d -p 6379:6379 redis'

# Environment
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; sudo gem update --system; sudo gem update; sudo gem cleanup'
alias refresh_dotfiles='source ~/.zshrc'
