#! /bin/bash

function postgres_container {
  if [ -z "$1" ] || [ -z "$2" ]
  then
    echo 'Starting postgres container with default user and password'
    docker run -d -p 5432:5432 postgres
    echo "USER: postgres"
    echo "PASSWORD: postgres"
  else
    echo 'Starting postgres container with indicated user and password'
    docker run -d -p 5432:5432 -e POSTGRES_USER=$1 -e POSTGRES_PASSWORD=$2 postgres
    echo "USER: $1"
    echo "PASSWORD: $2"
  fi
}

function bash_container {
  if [ -z "$1" ]
  then
    echo "You forgot to inform a container name or id"
  else
    echo "Starting bash on $1"
    docker exec -i -t $1 /bin/bash
  fi
}

function postgres_container_extension {
  if [ "$1" ]
  then
    docker exec -it $1 psql -U postgres -d template1 -c 'create extension "uuid-ossp";'
  else
    echo "You forgot to inform a container name or id"
  fi
}
